[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ExcelFunctionsR"]
	path = ExcelFunctionsR
	url = https://github.com/cran/ExcelFunctionsR
